<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AudioPlayer.Properties.Settings>
            <setting name="RandomMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Volume2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Echo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Chorus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeFX" serializeAs="String">
                <value>1</value>
            </setting>
        </AudioPlayer.Properties.Settings>
    </userSettings>
</configuration>