<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="Section1" type="System.Configuration.ClientSettingsSection"/>
      <section name="Section2" type="System.Configuration.ClientSettingsSection"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Section1>
      <setting name="Name" serializeAs="String">
        <value>Misha</value>
      </setting>
      <setting name="Age" serializeAs="Integer">
        <value>21</value>
      </setting>
    </Section1>
    <Section2>
      <setting name="Name" serializeAs="String">
        <value>Nastya</value>
      </setting>
      <setting name="Age" serializeAs="Integer">
        <value>20</value>
      </setting>
    </Section2>
  </userSettings>
</configuration>