<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="idService" value="vkstealer@feisty-mechanic-224806.iam.gserviceaccount.com"/>
    <add key="fileNameCertificate" value="VKStealer-0ac877c12218.p12"/>
    <add key="password" value="notasecret"/>
    <add key="appName" value="VKStealer"/>  
    <add key="scriptPath" value="script.ahk"/>
  </appSettings>
</configuration>