<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="record0" value="0" />
    <add key="record1" value="0" />
    <add key="record2" value="0" />
    <add key="record3" value="0" />
    <add key="record4" value="0" />
  </appSettings>
  <configSections>
  </configSections>
</configuration>